USE [master]
GO
/****** Object:  Database [ITSingular]    Script Date: 13/08/2019 02:06:54 ******/
CREATE DATABASE [ITSingular]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITSingular', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ITSingular.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITSingular_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ITSingular_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITSingular].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITSingular]
GO
USE [ITSingular]
GO
/****** Object:  Table [dbo].[Communication]    Script Date: 13/08/2019 02:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Communication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Last] [datetime] NOT NULL,
	[Machine] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Communication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Communication] ON 

INSERT [dbo].[Communication] ([Id], [Last], [Machine]) VALUES (1, CAST(N'2019-08-12T05:19:10.393' AS DateTime), N'mac1')
INSERT [dbo].[Communication] ([Id], [Last], [Machine]) VALUES (2, CAST(N'2019-08-12T04:20:00.000' AS DateTime), N'mac2')
INSERT [dbo].[Communication] ([Id], [Last], [Machine]) VALUES (3, CAST(N'2019-08-12T08:49:29.390' AS DateTime), N'mac3')
SET IDENTITY_INSERT [dbo].[Communication] OFF
/****** Object:  StoredProcedure [dbo].[SP_GetCommunicationByMachineName]    Script Date: 13/08/2019 02:06:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetCommunicationByMachineName] @Machine varchar(150)
AS
SELECT * FROM Communication c WHERE c.Machine = @Machine
--GO;
GO
USE [master]
GO
